<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <th:block th:replace="~{partials :: head}"></th:block>
  <meta charset="UTF-8">
  <title th:text="${error}"></title>
</head>
<body class="h-100 d-flex flex-column">
<nav th:replace="~{partials :: nav}"></nav>
<div class="text-center mt-5">
  <h1>Something unexpected happened.</h1>
  <h3 th:text="'Server response: ' + ${error}"></h3>
</div>
<footer th:replace="~{partials :: footer}"></footer>
<th:block th:replace="~{partials :: scripts}"></th:block>
</body>
</html>