body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#map {
    height: 500px;
    width: 100%;
}

input[type="text"] {
    width: 60%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    margin-top: 12px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.search-box {
    position: relative;
    left: 20px;
}
