body {
    background-image: url("../img/girlBar.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

/*#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 6rem;    !* insert proper footer height *!
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6rem;            !* insert proper footer height *!
}*/

.navbar-brand {
    font-family: 'Black Ops One', cursive;
}

.navbar-custom {
    background-color: black;
    color: white;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
}

.collapse ul li a {
    color: white;
}

.card {
    background-color: black;
    color: white;
    text-align: center;
}

.title {
    font-family: 'Black Ops One', cursive;
}

.search {
    overflow: hidden;
    overflow-y: scroll;
    height: 970px;

}

#pass-req {
    display: none;
}

.passReq {
    background-color: black;
    color: white;
    text-align: left !important;
    font-size: small;
}

.modal {
    background-color: black !important;
    color: white;
    text-align: center;
    border: 1px solid white;
    border-radius: 25px;
    max-width: 80%;
    max-height: 50%;
    /*max-height: 40%;*/

    margin:0 auto;
    display:table;
    position: absolute;
    left: 0;
    right:0;
    top: 50%;
    border:1px solid;
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    transform:translateY(-50%);

}


.modal-content {
    background-color: black !important;
}

.log {
    background-color: black;
    color: white;
    text-align: center;
    max-width: 60%;
}

/*.pass {
    margin-left: 8px !important;
    margin-right: 8px !important;
}*/

.btn-success {
    background-color: #5beb34 !important;
    /*border-color: black;*/
    color: black;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #5beb34;

}

.profilePic {
    max-width: 200px;
}

/*.scroll {
    height: auto;
    !*max-height: 1200px;*!
    overflow-y: auto;
}*/


.calendar-month {
    display: inline-block;
    vertical-align: top;
    width: 20px;
}

.calendar-day {
    border: 1px solid black;
    border-top: none;
    box-sizing: border-box;
    height: 20px;
    width: 20px;
}

.calendar-month__title {
    border-bottom: 1px solid black;
    height: 20px;
    overflow: hidden;
    text-align: center;
    width: 20px;
}

.calendar-day__number {
    border-left-color: transparent;
    text-align: right;
    margin-right: 5px;
}