body {
    background-image: url("../img/girlBar.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

.navbar-custom {
    background-color: black;
    color: white;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
}

.collapse ul li a {
    color: white;
}

.card {
    background-color: black;
    color: white;
    text-align: center;
}

.btn-success {
    background-color: #5beb34 !important;
    /*border-color: black;*/
    color: black;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #5beb34;

}
