<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{partials :: head}"></th:block>
    <meta charset="UTF-8">
    <title>About the Creators</title>
</head>
<body class="h-100 d-flex flex-column">
<nav th:replace="~{partials :: nav}"></nav>

<br>
<div class="d-flex flex-row justify-content-around">
<div class="card" style="width: 90%;">
    <div class="card-body">
        <h1 style="text-align:center; color:#5beb34;">About the Creators</h1>
        <h2 style="text-align:center">We are stronger coders together</h2>
    </div>
</div>
</div>
<br>


<div class="homeCards d-flex flex-row justify-content-around">
    <div class="card" style="width: 20%;">
        <img class="card-img-top" src="/img/adambw.png" alt="adam">
        <div class="card-body">
            <h5 class="card-title" style="color:#5beb34;">Adam Bishop</h5>
            <p class="card-text">Adam started his coding journey through learning video game development in Unity with C#. Now he is learning web development at Codeup and is eager to start his career as a developer.</p>
            <a href="https://github.com/adam-michael-bishop" class="btn btn-success btn-sm"><i class="fa-brands fa-github" style="color: black;"></i></a>
            <a href="https://www.linkedin.com/in/adam-michael-bishop/" class="btn btn-success btn-sm"><i class="fa-brands fa-linkedin" style="color: black;"></i></a>
            <a href="#" class="btn btn-success btn-sm">Alumni Portal</a>
        </div>
    </div>
    <div class="card" style="width: 20%;">
        <img class="card-img-top" src="/img/isaacbw.png" alt="isaac">
        <div class="card-body">
            <h5 class="card-title" style="color:#5beb34;">Isaac Hernandez</h5>
            <p class="card-text">With a strong foundation in both front-end and back-end development, I am confident in my ability to create innovative and user-friendly web applications. I am committed to delivering high-quality results in a timely and efficient manner. I am eager to continue learning and growing as a developer.</p>
            <a href="https://github.com/isaachern123" class="btn btn-success btn-sm"><i class="fa-brands fa-github" style="color: black;"></i></a>
            <a href="#" class="btn btn-success btn-sm"><i class="fa-brands fa-linkedin" style="color: black;"></i></a>
            <a href="#" class="btn btn-success btn-sm">Alumni Portal</a>
        </div>
    </div>
    <div class="card" style="width: 20%;">
        <img class="card-img-top" src="/img/misaelbw.png" alt="misael">
        <div class="card-body">
            <h5 class="card-title" style="color:#5beb34;">Misael Cuadrado</h5>
            <p class="card-text">A recent graduate, eager to apply his knowledge in web development frameworks to real-world projects, has a keen eye for detail and a passion for creating intuitive user experiences.</p>
            <a href="https://github.com/nelsonymarie" class="btn btn-success btn-sm"><i class="fa-brands fa-github" style="color: black;"></i></a>
            <a href="https://www.linkedin.com/in/misaelcuadrado/" class="btn btn-success btn-sm"><i class="fa-brands fa-linkedin" style="color: black;"></i></a>
            <a href="" class="btn btn-success btn-sm">Alumni Portal</a>
        </div>
    </div>
    <div class="card" style="width: 20%;">
        <img class="card-img-top" src="/img/christinabw.png" alt="christina">
        <div class="card-body">
            <h5 class="card-title" style="color:#5beb34;">Christina Antonuccio</h5>
            <p class="card-text">Software developer and former hospitality manager with 12+ years of strong customer service and relational skills, team management, and streamlining of processes. Retrained in software development with a thirst for knowledge and a desire to build beautiful yet efficient and user friendly software.</p>
            <a href="https://github.com/gushitig" class="btn btn-success btn-sm"><i class="fa-brands fa-github" style="color: black;"></i></a>
            <a href="https://www.linkedin.com/in/christina-antonuccio-42104191/" class="btn btn-success btn-sm"><i class="fa-brands fa-linkedin" style="color: black;"></i></a>
            <a href="#" class="btn btn-success btn-sm">Alumni Portal</a>
        </div>
    </div>

</div>

<br>



<footer th:replace="~{partials :: footer}"></footer>
<th:block th:replace="~{partials :: scripts}"></th:block>
</body>
</html>