<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>edit</title>
  <th:block th:replace="~{partials :: head}"></th:block>
  <link th:rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
  <style>
    #map {
      height: 600px;
      width: 600px;
    }
  </style>
</head>
<body>
<nav th:replace="~{partials :: nav}"></nav>

<form th:action="@{|/profile/showFormForUpdate/${user.id}|}" method="POST" th:object="${user}">
  <div class="form">
    <label for="name">Name</label>
    <input id="name" th:field="*{name}" />

    <label for="username">Username</label>
    <input id="username" th:field="*{username}" />

    <label for="email">Email</label>
    <input id="email" th:field="*{email}" />

    <label for="zipcode">Zip Code</label>
    <input id="zipcode" th:field="*{zipcode}" />

    <label hidden for="password">Password</label>
    <input hidden id="password" th:field="*{password}" />

    <label for="gender">Gender</label>
    <select id="gender" name="gender">
      <option th:each="gender : ${T(com.codeup.gitfitcrew.fitconnect.models.Gender).values()}"
              th:value="${gender}" th:text="${gender}"></option>
    </select>

    <label for="level">Experience Level</label>
    <select id="level" name="level">
      <option th:each="level : ${T(com.codeup.gitfitcrew.fitconnect.models.Level).values()}"
              th:value="${level}" th:text="${level}"></option>
    </select>

    <br>

    <label for="bio">Bio</label>
    <input id="bio" th:field="*{bio}" />


    <input value="Update" type="submit" class="btn"/>
  </div>
</form>

<div id="map"></div>
<!--
  The `defer` attribute causes the callback to execute after the full HTML
  document has been parsed. For non-blocking uses, avoiding race conditions,
  and consistent behavior across browsers, consider loading using Promises.
  See https://developers.google.com/maps/documentation/javascript/load-maps-js-api
  for more information.
  -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script th:type="module" th:src="@{/js/editMap.js}"></script>
<script
        th:src="@{https://maps.googleapis.com/maps/api/js(key=${apiKey}, callback='initMap', libraries='places', v='weekly')}"
        defer
></script>


<footer th:replace="~{partials :: footer}"></footer>
<th:block th:replace="~{partials :: scripts}"></th:block>
</body>
</html>
