<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Edit Your Profile</title>
	<th:block th:replace="~{partials :: head}"></th:block>
	<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
</head>
<body class="h-100 d-flex flex-column">
<nav th:replace="~{partials :: nav}"></nav>
<br>
<div class="title d-flex flex-row justify-content-around">
    <div class="card" style="width: 90%;">
        <div class="card-body">
            <h1 style="text-align:center; color:#5beb34;">Edit Your Profile</h1>
        </div>
    </div>
</div>
<br>
<div class="homeCards d-flex flex-row justify-content-around">
    <div class="card" style="width: 80%;">
        <div id="map" style="margin-left:auto; margin-right:auto;"></div>
        <input id="search-box" class="controls" type="text" placeholder="Search by zipcode...">
        <div class="card-body d-flex flex-column justify-content-center">
            <p>Choose your home gym by selecting the gym icon and clicking the "Make this my home gym" button.</p>
            <div id="liveAlertPlaceholder"></div>
            <h5 class="card-title" style="color:#5beb34;">Change profile picture</h5>
            <button id="picture" class="btn btn-success btn-sm mx-auto" style="width: 35%;">Upload a profile photo</button>
            <button id="beforePicture" class="btn btn-success btn-sm mx-auto" style="width: 35%;">Upload a before photo</button>
            <button id="ProgressPicture" class="btn btn-success btn-sm mx-auto" style="width: 35%;">Upload a progress photo</button>
            <input type="hidden" id="api" th:value="${fileApi}">
            <br>
            <h5 class="card-title" style="color:#5beb34;">Update your information</h5>
            <div class="">
                <form th:action="@{|/profile/showFormForUpdate/${user.id}|}" method="POST" th:object="${user}"
                      enctype="multipart/form-data" style='width: 100%;' class="d-flex flex-column justify-content-center align-items-center">

                    <div class="text-center" style="width: 100%">
                        <label class="w-50" for="name">Name</label>
                        <input class="w-50" id="name" th:field="*{name}"/>
                        <br>

                        <label class="w-50" for="username">Username</label>
                        <input class="w-50" id="username" th:field="*{username}"/>
                        <br>

                        <label class="w-50" for="email">Email</label>
                        <input class="w-50" id="email" th:field="*{email}"/>
                        <br>

                        <label class="w-50" for="zipcode">Zip Code</label>
                        <input class="w-50" id="zipcode" th:field="*{zipcode}"/>
                        <br>

                        <label hidden for="password">Password</label>
                        <input hidden id="password" th:field="*{password}"/>

                        <label class="w-50" for="gender">Gender</label>
                        <select class="w-50" id="gender" name="gender">
                            <option th:each="gender : ${T(com.codeup.gitfitcrew.fitconnect.models.Gender).values()}"
                                    th:value="${gender}" th:text="${gender}"
                                    th:selected="${user.getGender() == gender}"></option>
                        </select>
                        <br>

                        <label class="w-50" for="level">Experience Level</label>
                        <select class="w-50" id="level" name="level">
                            <option th:each="level : ${T(com.codeup.gitfitcrew.fitconnect.models.Level).values()}"
                                    th:value="${level}" th:text="${level}"
                                    th:selected="${user.getLevel() == level}"></option>
                        </select>
                        <br>

                        <label class="w-50" for="bio">Bio</label>
                        <textarea class="w-50" id="bio" rows="10" th:field="*{bio}"></textarea>
                    </div>
                    <div>
                        <h5 class="card-title" style="color:#5beb34;">Select your workout styles</h5>
                        <th:block th:each="style : ${styles}">
                            <div th:class="form-check" style="text-align: left">
                                <input th:class="form-check-input" th:checked="${style.checked}" th:type="checkbox"
                                       th:value="${style.name}"
                                       th:id="'style' + ${style.id}" th:name="styles">
                                <label th:class="form-check-label" th:for="'style' + ${style.id}"
                                       th:text="${style.name}">
                                    Replace with style name
                                </label>
                            </div>
                        </th:block>
                    </div>
                    <div>
                        <h5 class="card-title" style="color:#5beb34;">Select your workout goals</h5>
                        <th:block th:each="goal : ${goals}">
                            <div th:class="form-check" style="text-align: left">
                                <input th:class="form-check-input" th:checked="${goal.checked}" th:type="checkbox"
                                       th:value="${goal.name}"
                                       th:id="'goal' + ${goal.id}" th:name="goals">
                                <label th:class="form-check-label" th:for="'goal' + ${goal.id}" th:text="${goal.name}">
                                    Replace with goal name
                                </label>
                            </div>
                        </th:block>
                    </div>

                    <input type="hidden" th:name="pic-url" th:value="${user.photo}" id="pic-url">
                    <input type="hidden" th:name="beforePic-url" th:value="${user.beforePhoto}" id="beforePic-url">
                    <input type="hidden" th:name="progressPic-url" th:value="${user.progressPhoto}" id="progressPic-url">
                    <input value="Update" type="submit" class="btn btn-success" style="width: 60%;"/>

                </form>
            </div>
        </div>
    </div>

</div>
<br>

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script th:type="module" th:src="@{/js/editMap.js}"></script>
<script
        th:src="@{https://maps.googleapis.com/maps/api/js(key=${apiKey}, callback='initMap', libraries='places', v='weekly')}"
        defer
></script>
<script>
    const fileApi = document.getElementById("api").value
    const inputForPhotoUrl = document.getElementById("pic-url")
    document.getElementById("picture").addEventListener("click", function () {
        const client = filestack.init(fileApi);
        const options = {
            onFileUploadFinished(file) {
                inputForPhotoUrl.value = file.url
            }
        }

        client.picker(options).open();
    })
    const inputForBeforePhotoUrl = document.getElementById("beforePic-url")
    document.getElementById("beforePicture").addEventListener("click", function () {
        const client = filestack.init(fileApi);
        const options = {
            onFileUploadFinished(file) {
               inputForBeforePhotoUrl.value = file.url
            }
        }

        client.picker(options).open();
    })
    const inputForProgressPhotoUrl = document.getElementById("progressPic-url")
    document.getElementById("ProgressPicture").addEventListener("click", function () {
        const client = filestack.init(fileApi);
        const options = {
            onFileUploadFinished(file) {
                inputForProgressPhotoUrl.value = file.url
            }
        }

        client.picker(options).open();
    })
</script>


<footer th:replace="~{partials :: footer}"></footer>
<th:block th:replace="~{partials :: scripts}"></th:block>
</body>
</html>
