<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Edit Your Profile</title>
	<th:block th:replace="~{partials :: head}"></th:block>
	<link th:rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
	<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
	<style>
        #map {
            height: 600px;
            width: 600px;
        }
	</style>
</head>
<body>
<nav th:replace="~{partials :: nav}"></nav>


<br>
<br>
<h1 style="text-align:center">Edit Your Profile</h1>
<br>
<br>

<form th:action="@{|/profile/showFormForUpdate/${user.id}|}" method="POST" th:object="${user}" enctype="multipart/form-data">
	<div class="form">
		<a id="picture">Change profile picture</a>



<div class="homeCards d-flex flex-row justify-content-center">
	<div class="card" style="width: 90%;">
		<h5 class="card-titl" style="color:#5beb34;">Choose your home gym</h5>
		<p>by selecting the gym icon and clicking the "Make this my home gym" button.</p>
		<div class="d-flex flex-row justify-content-center" id="map" style="text-align: center"></div>
		<!--
          The `defer` attribute causes the callback to execute after the full HTML
          document has been parsed. For non-blocking uses, avoiding race conditions,
          and consistent behavior across browsers, consider loading using Promises.
          See https://developers.google.com/maps/documentation/javascript/load-maps-js-api
          for more information.
          -->
		<div class="card-body d-flex flex-column">
			<h5 class="card-title" style="color:#5beb34;">Update your information</h5>


			<form th:action="@{|/profile/showFormForUpdate/${user.id}|}" method="POST" th:object="${user}" enctype="multipart/form-data">
				<div class="form">

					<label>Choose your profile picture </label>
					<input type="file" name="image" accept="image/png, image/jpeg" style="width: 60%;" />

					<label for="name">Name</label>
					<input id="name" th:field="*{name}" style="width: 60%;" />

					<label for="username">Username</label>
					<input id="username" th:field="*{username}" style="width: 60%;" />

					<label for="email">Email</label>
					<input id="email" th:field="*{email}" style="width: 60%;" />

					<label for="zipcode">Zip Code</label>
					<input id="zipcode" th:field="*{zipcode}" style="width: 60%;" />

					<label hidden for="password">Password</label>
					<input hidden id="password" th:field="*{password}" style="width: 60%;"/>

					<label for="gender">Gender</label>
					<select id="gender" name="gender" style="width: 60%;">
						<option th:each="gender : ${T(com.codeup.gitfitcrew.fitconnect.models.Gender).values()}"
								th:value="${gender}" th:text="${gender}" th:selected="${user.getGender() == gender}"></option>
					</select>

					<label for="level">Experience Level</label>
					<select id="level" name="level" style="width: 60%;">
						<option th:each="level : ${T(com.codeup.gitfitcrew.fitconnect.models.Level).values()}"
								th:value="${level}" th:text="${level}" th:selected="${user.getLevel() == level}"></option>
					</select>

					<br>

					<label for="bio">Bio</label>
					<textarea id="bio" rows="10" th:field="*{bio}" style="width: 60%;"></textarea>

					<div>
						<h5 class="card-title" style="color:#5beb34;">Select your workout styles</h5>
						<th:block th:each="style : ${styles}">
							<div th:class="form-check">
								<input th:class="form-check-input" th:checked="${style.checked}" th:type="checkbox" th:value="${style.name}"
									   th:id="'style' + ${style.id}" th:name="styles">
								<label th:class="form-check-label" th:for="'style' + ${style.id}" th:text="${style.name}">
									Replace with style name
								</label>
							</div>
						</th:block>
					</div>
					<div>
						<h5 class="card-title" style="color:#5beb34;">Select your workout styles</h5>
						<th:block th:each="goal : ${goals}">
							<div th:class="form-check">
								<input th:class="form-check-input" th:checked="${goal.checked}" th:type="checkbox" th:value="${goal.name}"
									   th:id="'goal' + ${goal.id}" th:name="goals">
								<label th:class="form-check-label" th:for="'goal' + ${goal.id}" th:text="${goal.name}">
									Replace with goal name
								</label>
							</div>
						</th:block>
					</div>
					<input value="Update" type="submit" class="btn btn-success" style="width: 60%;"/>
				</div>
			</form>
		</div>
	</div>




</div>










<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script th:type="module" th:src="@{/js/editMap.js}"></script>
<script
	th:src="@{https://maps.googleapis.com/maps/api/js(key=${apiKey}, callback='initMap', libraries='places', v='weekly')}"
	defer
></script>
<script>
	document.getElementById("picture").addEventListener("click", function () {
		const client = filestack.init();
		client.picker().open();
	})
</script>


<footer th:replace="~{partials :: footer}"></footer>
<th:block th:replace="~{partials :: scripts}"></th:block>
</body>
</html>
