<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{partials :: head}"></th:block>
    <meta charset="UTF-8">
    <title>Your Fitness Connections</title>
</head>
<body class="h-100 d-flex flex-column">
<nav th:replace="~{partials :: nav}"></nav>

<br>
<div class="d-flex flex-row justify-content-around">
    <div class="card" style="width: 90%;">
        <div class="card-body">
            <h1 style="text-align:center; color:#5beb34;">Fitness Connections</h1>
        </div>
    </div>
</div>
<br>

<div class="homeCards d-flex flex-row justify-content-around">
    <!--request list-->
    <div class="card" style="width: 35%;" th:each="request : ${requests}">
        <img class="card-img-top" src="/img/2dums.jpeg" alt="girl">
        <br>
        <h5 class="card-title" style="color:#5beb34;">Friend Requests</h5>
        <br>
        <div class="card-body">
            <img class="profilePic" th:src="${request.photo}" alt="profilepic">
            <a th:href="@{/profile/{id}(id=${request.id})}"><h4 class="card-title" th:text="${request.username}">(insert
                title here)</h4></a>
            <a th:href="@{/friends/{id}/accept(id=${request.id})}"
               data-bs-toggle="tooltip"
               data-bs-placement="top"
               title="Accept Request" class="btn btn-success btn-sm"><i
                    class="fa-solid fa-square-check"></i></a>
            <a th:href="@{/friends/{id}/deny(id=${request.id})}"
               data-bs-toggle="tooltip"
               data-bs-placement="top"
               title="Deny Request" class="btn btn-success btn-sm"><i
                    class="fa-solid fa-rectangle-xmark"></i></a>
            <hr>
        </div>
    </div>

    <div class="card" style="width: 60%;">
        <img class="card-img-top" src="/img/5empty.jpeg" alt="girl" style="max-height: 207px">
        <br>
        <div class="card-body">
            <h5 class="card-title" style="color:#5beb34;">Friends</h5>
            <!--friends list-->
            <div class="card d-flex flex-row" style="width: 100%;" th:each="friend : ${friends}">
                <img class="profilePic" th:src="${friend.photo}" alt="profilepic">
                <div class="card-body d-flex flex-column justify-content-center">
                    <a th:href="@{/profile/{id}(id=${friend.id})}"><h4 class="card-title" th:text="${friend.username}">
                        (insert title here)</h4></a>
                    <p class="card-title" th:text="${friend.gender}"></p>
                    <p class="card-title" th:text="${friend.level}"></p>


                    <a th:href="@{/messages/{id}(id=${friend.id})}">
                        <button class="btn btn-success btn-sm"
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                title="Chat">
                        <i class="fa-solid fa-envelope"></i>
                        </button>
                    </a>


                </div>
            </div>
        </div>
    </div>

</div>


<footer th:replace="~{partials :: footer}"></footer>
<th:block th:replace="~{partials :: scripts}"></th:block>
</body>
</html>