<!--<!DOCTYPE html>-->
<!--<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->
<!--<head>-->
<!--    <th:block th:replace="~{partials :: head}"></th:block>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Join FitConnect!</title>-->
<!--</head>-->
<!--<body class="h-100 d-flex flex-column">-->
<!--<nav th:replace="~{partials :: nav}"></nav>-->


<!--<br>-->
<!--<br>-->
<!--<h1 style="text-align:center">FitConnect</h1>-->
<!--<h2 style="text-align:center">Stronger together</h2>-->
<!--<br>-->
<!--<br>-->
<!--<div class="homeCards d-flex flex-row justify-content-around">-->
<!--    <div class="card col-sm-12" style="width: 25%;">-->
<!--        <img class="card-img-top" src="/img/dude.jpeg" alt="dude">-->
<!--        <div class="card-body">-->
<!--            <h5 class="card-title" style="color:#5beb34;">Connect with other fitness enthusiasts</h5>-->
<!--            <p class="card-text">Search by zipcode or gym to find users in your area. Filter results by gender, workout style, experience level, and preferences.</p>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="card col-sm-12" style="width: 25%;">-->
<!--        <img class="card-img-top" src="/img/trio.jpeg" alt="trio">-->
<!--        <div class="card-body">-->
<!--            <h5 class="card-title" style="color:#5beb34;">FitChat</h5>-->
<!--            <p class="card-text">Chat with local or distant users to share your fitness knowledge and find a workout partner.</p>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="card col-sm-12" style="width: 25%;">-->
<!--        <img class="card-img-top" src="/img/girl.jpeg" alt="girl">-->
<!--        <div class="card-body">-->
<!--            <h5 class="card-title" style="color:#5beb34;">Showcase your progress</h5>-->
<!--            <p class="card-text">Let other users get to know you through your profile, our workout tracker, and achievements.</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<br>-->
<!--<div class = "buttons" style="text-align:center">-->
<!--<form action="/register">-->
<!--    <button type="submit" class="btn btn-success btn-lg">Register now!</button>-->
<!--</form>-->
<!--<br>-->
<!--<form action="/login">-->
<!--    <button type="submit" class="btn btn-success">Login!</button>-->
<!--</form>-->
<!--</div>-->


<!--<footer th:replace="~{partials :: footer}"></footer>-->
<!--<th:block th:replace="~{partials :: scripts}"></th:block>-->
<!--</body>-->
<!--</html>-->


<!--<!DOCTYPE html>-->
<!--<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->
<!--<head>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <th:block th:replace="~{partials :: head}"></th:block>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Join FitConnect!</title>-->
<!--</head>-->
<!--<body class="h-100 d-flex flex-column">-->
<!--<nav th:replace="~{partials :: nav}"></nav>-->


<!--<br>-->
<!--<br>-->
<!--<h1 style="text-align:center">FitConnect</h1>-->
<!--<h2 style="text-align:center">Stronger together</h2>-->
<!--<br>-->
<!--<br>-->
<!--<div class="homeCards d-flex flex-column flex-md-row justify-content-center justify-content-md-around align-items-center">-->
<!--    <<div class="col-sm-12 col-md-3 mb-4">-->
<!--        <div class="card h-100">-->
<!--            <img class="card-img-top" src="/img/dude.jpeg" alt="dude">-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title" style="color:#5beb34;">Connect with other fitness enthusiasts</h5>-->
<!--                <p class="card-text">Search by zipcode or gym to find users in your area. Filter results by gender, workout style, experience level, and preferences.</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="col-sm-12 col-md-3 mb-4">-->
<!--        <div class="card h-100">-->
<!--            <img class="card-img-top" src="/img/trio.jpeg" alt="trio">-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title" style="color:#5beb34;">FitChat</h5>-->
<!--                <p class="card-text">Chat with local or distant users to share your fitness knowledge and find a workout partner.</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="col-sm-12 col-md-3 mb-4">-->
<!--        <div class="card h-100">-->
<!--            <img class="card-img-top" src="/img/girl.jpeg" alt="girl">-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title" style="color:#5beb34;">Showcase your progress</h5>-->
<!--                <p class="card-text">Let other users get to know you through your profile, our workout tracker, and achievements.</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<br>-->
<!--<div class = "buttons" style="text-align:center">-->
<!--    <form action="/register">-->
<!--        <button type="submit" class="btn btn-success btn-lg">Register now!</button>-->
<!--    </form>-->
<!--    <br>-->
<!--    <form action="/login">-->
<!--        <button type="submit" class="btn btn-success">Login!</button>-->
<!--    </form>-->

<!--    <br>-->
<!--    <br>-->
<!--</div>-->


<!--<footer th:replace="~{partials :: footer}"></footer>-->
<!--<th:block th:replace="~{partials :: scripts}"></th:block>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{partials :: head}"></th:block>
    <meta charset="UTF-8">
    <title>Join FitConnect!</title>
    <style>
        /* Set the cards to have equal height and width */
        .card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 20px;
            height: 100%
        }

        /* Set the cards to have larger size */
        .card-img-top {
            height: 300px;
            object-fit: cover;
        }

        .card-body {
            height:200px
        }

        /* Set the cards to have equal size and spacing */
        .homeCards .col-md-4 {
            flex: 1 1 0;
            margin-right: 10px;
            margin-left: 10px;
        }
    </style>
</head>
<body class="h-100 d-flex flex-column">
<nav th:replace="~{partials :: nav}"></nav>

<br>
<div class="title d-flex flex-row justify-content-around">
    <div class="card p-3" style="width: auto;">
        <div class="card-body-i">
            <h1 style="text-align:center; color:#5beb34;">FitConnect</h1>
            <h2 style="text-align:center">We are stronger together</h2>
        </div>
    </div>
</div>
<br>
<div class="homeCards d-flex flex-column flex-md-row justify-content-center align-items-center">
    <div class="col-sm-9 col-md-4 mb-4">
        <div class="card">
            <img class="card-img-top" src="/img/dude.jpeg" alt="dude">
            <div class="card-body">
                <h5 class="card-title" style="color:#5beb34;">Connect with other fitness enthusiasts</h5>
                <p class="card-text">Search by zipcode or gym to find users in your area. Filter results by gender,
                    workout style, experience level, and preferences.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-9 col-md-4 mb-4">
        <div class="card">
            <img class="card-img-top" src="/img/trio.jpeg" alt="trio">
            <div class="card-body">
                <h5 class="card-title" style="color:#5beb34;">FitChat</h5>
                <p class="card-text">Chat with local or distant users to share your fitness knowledge and find a workout
                    partner.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-9 col-md-4 mb-4">
        <div class="card">
            <img class="card-img-top" src="/img/girl.jpeg" alt="girl">
            <div class="card-body">
                <h5 class="card-title" style="color:#5beb34;">Showcase your progress</h5>
                <p class="card-text">Let other users get to know you through your profile, our workout tracker, and
                    achievements.</p>
            </div>
        </div>
    </div>
</div>
<br>
<div class="buttons" style="text-align:center">
    <form action="/register">
        <button type="submit" class="btn btn-success btn-lg ">Register now!</button>
    </form>
    <br>
    <form action="/login">
        <button type="submit" class="btn btn-success btn-lg">Login!</button>
    </form>
    <br>
    <br>
</div>
<footer th:replace="~{partials :: footer}"></footer>
<th:block th:replace="~{partials :: scripts}"></th:block>
</body>
</html>