<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{partials :: head}"></th:block>
    <meta charset="UTF-8">
    <title>Join FitConnect!</title>
</head>
<body class="h-100 d-flex flex-column">
<nav th:replace="~{partials :: nav}"></nav>


<br>
<br>
<h1 style="text-align:center">FitConnect</h1>
<h2 style="text-align:center">We are stronger together</h2>
<br>
<br>
<div class="homeCards d-flex flex-row justify-content-around">
    <div class="card" style="width: 25%;">
        <img class="card-img-top" src="/img/dude.jpeg" alt="dude">
        <div class="card-body">
            <h5 class="card-title" style="color:#5beb34;">Connect with other fitness enthusiasts</h5>
            <p class="card-text">Search by zipcode or gym to find users in your area. Filter results by gender, workout style, and experience level.</p>
            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
        </div>
    </div>

    <div class="card" style="width: 25%;">
        <img class="card-img-top" src="/img/trio.jpeg" alt="trio">
        <div class="card-body">
            <h5 class="card-title" style="color:#5beb34;">FitChat</h5>
            <p class="card-text">Chat with local or distant users to share your fitness knowledge and find a workout partner.</p>
            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
        </div>
    </div>

    <div class="card" style="width: 25%;">
        <img class="card-img-top" src="/img/girl.jpeg" alt="girl">
        <div class="card-body">
            <h5 class="card-title" style="color:#5beb34;">Showcase your progress</h5>
            <p class="card-text">Let other users get to know you through your profile, our workout tracker, and achievements.</p>
            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
        </div>
    </div>
</div>

<br>
<div class = "buttons" style="text-align:center">
<form action="/register">
    <button type="submit" class="btn btn-success btn-lg">Register now!</button>
</form>
<br>
<form action="/login">
    <button type="submit" class="btn btn-success">Login!</button>
</form>
</div>


<footer th:replace="~{partials :: footer}"></footer>
<th:block th:replace="~{partials :: scripts}"></th:block>
</body>
</html>






