<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="~{partials :: head}"></th:block>
	<meta charset="UTF-8">
	<title>Profile</title>

</head>
<body class="h-100 d-flex flex-column">
<nav th:replace="~{partials :: nav}"></nav>
<br>
<div class="title d-flex flex-row justify-content-around">
	<div class="card" style="width: 90%;">
		<div class="card-body">
			<h1 style="text-align:center; color:#5beb34;">Profile Page</h1>
		</div>
	</div>
</div>
<br>

<th:block th:if="${isLoggedInUser}">
<div th:if="${!isWorkoutLoggedToday}" id="myModal" class="modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" style="color:#5beb34;">Did you workout today?</h5>
			</div>
			<div class="modal-body">
				<img src="/img/plankGirl.jpeg" class="card-img-top">
				<br>
				<p>If not, even just 15 minutes of movement can improve mood and health.</p>
			</div>
			<div class="modal-footer">
				<form th:action="@{/profile/workout}" th:method="post" class="card-body">
					<button type="submit" class="btn btn-success btn-sm">Yes</button>
					<button type="button" class="btn btn-success btn-sm" data-bs-dismiss="modal">Close</button>
				</form>
			</div>
		</div>
	</div>
</div>
</th:block>



<div class="homeCards d-flex flex-row justify-content-around">
	<div class="card" style="width: 32%;">
		<img class="card-img-top pic" th:if="${user.photo != null}" th:src="@{${user.photo}}" />
		<div class="card-body">

			<h5 th:text="${user.username}" style="color:#5beb34;">(insert username here)</h5>
			<p class="card-text" th:text="${user.name}"></p>
			<!--If logged in user, edit button-->
			<form th:if="${isLoggedInUser}" th:action="@{|/profile/showFormForUpdate/${user.id}|}">
				<button type="submit" class="btn btn-success btn-sm">Edit Profile</button>
			</form>
			<!--If not logged in user, request or remove button-->
			<th:block th:if="${!isLoggedInUser}">
				<a th:if="${!isFriend}" th:href="@{/profile/{id}/request(id=${user.id})}" class="btn btn-success btn-sm">Send friend request!</a>
				<!--	<button type="submit">Block user</button>-->
				<a th:if="${isFriend}" th:href="@{/profile/{id}/remove(id=${user.id})}" class="btn btn-success btn-sm">Remove friend</a>
			</th:block>
			<br>
			<!--<p th:text="${user.zipcode}">(insert zipcode here)</p>-->
			<p th:text="${user.gender}">(insert gender here)</p>

			<p th:text="${user.level}">(insert gender here)</p>


			<div th:id="workout-calendar">
				<!--<div id="calendar"></div>-->
				<h5>Workout Tracker</h5>
				<ul>
					<th:block th:each="workout : ${user.getWorkouts()}">
						<li th:text="${workout.workoutDate}"></li>
					</th:block>
				</ul>
			</div>
		</div>

	</div>

	<div class="card" style="width: 60%;">
		<!--MAYBE ADD A WORKOUT EQUIP PIC HERE? <img class="card-img-top" th:if="${user.photo != null}" th:src="@{${user.photosImagePath}}" />-->
		<div class="card-body" style="text-align:left;">
			<h5 style="color:#5beb34;">Gym</h5>
			<p class="card-text" th:if="${user.gym != null}" th:text="${user.gym.name}">(insert gym name here)</p>

			<h5 style="color:#5beb34;">Bio</h5>
			<p class="card-text" th:text="${user.bio}">(insert bio here)</p>

			<th:block th:if="${!user.getStyles().isEmpty()}">
				<h5 style="color:#5beb34;">Workout Styles</h5>
				<ul>
					<li th:each="style : ${user.getStyles()}" th:text="${style.name}">Replace with style name</li>
				</ul>
			</th:block>
			<th:block th:if="${!user.getGoals().isEmpty()}">
				<h5 style="color:#5beb34;">Workout Goals</h5>
				<ul>
					<li th:each="goal : ${user.getGoals()}" th:text="${goal.name}">Replace with style name</li>
				</ul>
			</th:block>
<!--			This is a placeholder for displaying achievements, replace with badges-->
			<th:block th:if="${!user.getAchievements().isEmpty()}">
				<h5 style="color:#5beb34;">Achievements</h5>
				<ul>
					<li th:each="achievement : ${user.getAchievements()}" th:text="${achievement.name}">Replace with achievement name</li>
				</ul>
			</th:block>
		</div>
	</div>

</div>
<br>


<footer th:replace="~{partials :: footer}"></footer>
<th:block th:replace="~{partials :: scripts}"></th:block>



</body>
</html>


