<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{partials :: head}"></th:block>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body class="h-100 d-flex flex-column">
<nav th:replace="~{partials :: nav}"></nav>

Profile Page



<img th:src="@{{path}(path=${user.photo})}" class="userImg" alt="...">

<h5  th:text="${user.username}">(insert username here)</h5>
<h5  th:text="${user.name}">(insert username here)</h5>

<p th:text="${user.zipcode}">(insert zipcode here)</p>
<p th:text="${user.gender}">(insert gender here)</p>
<p th:text="${user.bio}">(insert bio here)</p>



<footer th:replace="~{partials :: footer}"></footer>
<th:block th:replace="~{partials :: scripts}"></th:block>
</body>
</html>