<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{partials :: head}"></th:block>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body class="h-100 d-flex flex-column">
<nav th:replace="~{partials :: nav}"></nav>

Profile Page

<div th:if="${!isWorkoutLoggedToday}">
	<form th:action="@{/profile/workout}" th:method="post">
		<p>Did you workout today?</p>
		<button type="submit">Yes</button>
	</form>
	<button id="dismiss-workout">Dismiss</button>
</div>

<div th:id="workout-calendar">
	<h5>Workout Tracker</h5>
	<ul>
		<th:block th:each="workout : ${workouts}">
			<li th:text="${workout.workoutDate}"></li>
		</th:block>
	</ul>
</div>
<img src="/" th:src="@{{path}(path=${user.photo})}" class="userImg" alt="...">

<h5  th:text="${user.username}">(insert username here)</h5>
<h5  th:text="${user.name}">(insert username here)</h5>

<p th:text="${user.zipcode}">(insert zipcode here)</p>
<p th:text="${user.gender}">(insert gender here)</p>
<p th:text="${user.bio}">(insert bio here)</p>
<p th:text="${user.gym.name}">(insert gym name here)</p>
<p th:text="${user.gym.address}">(insert gym address here)</p>


<form th:action="@{|/profile/showFormForUpdate/${user.id}|}">
    <button type="submit">edit!</button>
</form>

<footer th:replace="~{partials :: footer}"></footer>
<th:block th:replace="~{partials :: scripts}"></th:block>
</body>
</html>