<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{partials :: head}"></th:block>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body class="h-100 d-flex flex-column">
<nav th:replace="~{partials :: nav}"></nav>

<h1>Register to connect with other exercise enthusiasts!</h1>

<form th:action="@{/register}" method="POST" th:object="${user}">
    <div class="form">
        <label for="username">Username</label>
        <input id="username" th:field="*{username}" />

        <label for="email">Email</label>
        <input id="email" th:field="*{email}" />

        <label for="password">Password</label>
        <input id="password" type="password" th:field="*{password}" />

        <label for="zipcode">Zip Code</label>
        <input id="zipcode" th:field="*{zipcode}" />
        

        <input value="Sign me up!" type="submit" class="btn"/>
    </div>
</form>

<footer th:replace="~{partials :: footer}"></footer>
<th:block th:replace="~{partials :: scripts}"></th:block>
</body>
</html>