<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{partials :: head}"></th:block>
    <meta charset="UTF-8">
    <title>Register with Us!</title>
</head>
<body class="h-100 d-flex flex-column">
<nav th:replace="~{partials :: nav}"></nav>

<br>
<br>
<br>

<div th:if="${username != null}">
    <p class="text-warning">[[${username}]]</p>
</div>
<div th:if="${userL != null}">
    <p class="text-warning">[[${userL}]]</p>
</div>
<div th:if="${email != null}">
    <p class="text-warning">[[${email}]]</p>
</div>
<div th:if="${uppercase != null}">
    <p class="text-warning">[[${uppercase}]]</p>
</div>
<div th:if="${numbers != null}">
    <p class="text-warning">[[${numbers}]]</p>
</div>
<div th:if="${special != null}">
    <p class="text-warning">[[${special}]]</p>
</div>
<div th:if="${length != null}">
    <p class="text-warning">[[${length}]]</p>
</div>


<div class="homeCards d-flex flex-row justify-content-around">
<div class="card" style="width: 75%;">
    <img class="card-img-top" src="/img/squatrackGuy.jpeg" alt="dude">
    <div class="card-body">
        <h5 class="card-title" style="color:#5beb34;">Register to connect with other fitness enthusiasts!</h5>


        <form th:action="@{/register}" method="POST" th:object="${user}" class="row g-3 needs-validation" novalidate>
            <div class="col-12">
                <label for="username" class="form-label d-flex justify-content-start">Username</label>
                <div class="input-group has-validation">
                    <!--<span class="input-group-text" id="inputGroupPrepend">@</span>-->
                    <input type="text" class="form-control" id="username" aria-describedby="inputGroupPrepend" th:field="*{username}" required>
                    <div class="invalid-feedback">
                        Please choose a username.
                    </div>
                </div>
            </div>
            <div class="col-12">
                <label for="email" class="form-label d-flex justify-content-start">Email</label>
                <input type="text" class="form-control" id="email" th:field="*{email}" required>
                <div class="invalid-feedback">
                    Please provide a valid email.
                </div>
            </div>
            <div class="col-12">
                <label for="password" class="form-label d-flex justify-content-start">Password</label>
                <input type="password" class="form-control" id="password" th:field="*{password}" required>
                <div class="invalid-feedback">
                    Please provide a valid password.
                </div>
                <div id="pass-req">
                    <p>
                        Must be at least 8 characters.<br>
                        Must contain one number.<br>
                        Must contain one uppercase letter.<br>
                        Must contain one special character.<br>
                    </p>
                </div>
            </div>
            <div class="col-12">
                <label for="zipcode" class="form-label d-flex justify-content-start" >Zipcode</label>
                <input type="text" class="form-control" id="zipcode" th:field="*{zipcode}" required>
                <div class="invalid-feedback">
                    Please provide a valid zip.
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-success" type="submit">Submit</button>
            </div>
        </form>





    </div>
</div>
</div>

<br>


<script>
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>


<footer th:replace="~{partials :: footer}"></footer>
<th:block th:replace="~{partials :: scripts}"></th:block>
</body>
</html>