<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{partials :: head}"></th:block>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body class="h-100 d-flex flex-column">
<nav th:replace="~{partials :: nav}"></nav>

<h1>Register to connect with other exercise enthusiasts!</h1>

<form th:action="@{/register}" method="POST" th:object="${user}" class="row g-3 needs-validation" novalidate>
    <div class="col-md-4">
        <label for="username" class="form-label">Username</label>
        <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
            <input type="text" class="form-control" id="username" aria-describedby="inputGroupPrepend" th:field="*{username}" required>
            <div class="invalid-feedback">
                Please choose a username.
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" th:field="*{email}" required>
        <div class="invalid-feedback">
            Please provide a valid email.
        </div>
    </div>
    <div class="col-md-6">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" th:field="*{password}" required>
        <div class="invalid-feedback">
            Please provide a valid password.
        </div>
    </div>
    <div class="col-md-3">
        <label for="zipcode" class="form-label">Zip</label>
        <input type="text" class="form-control" id="zipcode" th:field="*{zipcode}" required>
        <div class="invalid-feedback">
            Please provide a valid zip.
        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-dark" type="submit">Submit form</button>
    </div>
</form>
<script>
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>

<footer th:replace="~{partials :: footer}"></footer>
<th:block th:replace="~{partials :: scripts}"></th:block>
</body>
</html>