<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{partials :: head}"></th:block>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav th:replace="~{partials :: nav}"></nav>

<br>
<br>
<h1 style="text-align:center">Reset Your Password</h1>
<br>
<br>

<div class="homeCards d-flex flex-row justify-content-around">

    <div class="card" style="width: 50%;">
        <img class="card-img-top" src="/img/shadow.jpeg" alt="girl">
        <div class="card-body">

            <form th:action="@{/reset_password}" method="post" style="max-width: 350px; margin: 0 auto;">
                <input type="hidden" name="token" th:value="${token}"/>
                <div class="border border-secondary rounded p-3">
                    <div>
                        <p>
                            <input type="password" name="password" id="password" class="form-control"
                                   placeholder="Enter your new password" required autofocus/>
                        </p>
                        <p>
                            <input type="password" class="form-control" placeholder="Confirm your new password"
                                   required oninput="checkPasswordMatch(this);"/>
                        </p>
                        <p class="text-center">
                            <input type="submit" value="Change Password" class="btn btn-success"/>
                        </p>
                    </div>
                </div>
            </form>

            <div th:if="${uppercase != null}">
                <p class="text-warning">[[${uppercase}]]</p>
            </div>
            <div th:if="${numbers != null}">
                <p class="text-warning">[[${numbers}]]</p>
            </div>
            <div th:if="${special != null}">
                <p class="text-warning">[[${special}]]</p>
            </div>
            <div th:if="${length != null}">
                <p class="text-warning">[[${length}]]</p>
            </div>


        </div>
    </div>
</div>


<script>
    function checkPasswordMatch(fieldConfirmPassword) {
        if (fieldConfirmPassword.value !== $("#password").val()) {
            fieldConfirmPassword.setCustomValidity("Passwords do not match!");
        } else {
            fieldConfirmPassword.setCustomValidity("");
        }
    }
</script>

<footer th:replace="~{partials :: footer}"></footer>
<th:block th:replace="~{partials :: scripts}"></th:block>
</body>
</html>