<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:replace="~{partials :: head}"></th:block>
	<meta charset="UTF-8">
	<title>Place Searches</title>
	<link th:rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body class="h-100">
<nav th:replace="~{partials :: nav}"></nav>
<div id="map"></div>
<!--
  The `defer` attribute causes the callback to execute after the full HTML
  document has been parsed. For non-blocking uses, avoiding race conditions,
  and consistent behavior across browsers, consider loading using Promises.
  See https://developers.google.com/maps/documentation/javascript/load-maps-js-api
  for more information.
  -->
<form th:action="@{/search}" method="get" id="search-form">
	<input type="hidden" th:value="${zipcode}" th:name="zipcode">
	<select name="radius" id="radius">
		<option value="50" selected>Radius</option>
		<option value="5">5</option>
		<option value="10">10</option>
		<option value="30">30</option>
	</select>
	<select name="gender" id="gender">
		<option value="">Gender</option>
		<option value="MALE">Male</option>
		<option value="FEMALE">Female</option>
	</select>
	<select name="level" id="level">
		<option value="">Experience Level</option>
		<option value="BEGINNER">Beginner</option>
		<option value="INTERMEDIATE">Intermediate</option>
		<option value="ADVANCED">Advanced</option>
		<option value="EXPERT">Expert</option>
	</select>
	<div>
		<p>Workout Styles</p>
		<th:block th:each="style : ${styles}">
			<div th:class="form-check">
				<input th:class="form-check-input" th:type="checkbox" th:value="${style.id}"
				       th:id="'style' + ${style.id}" th:name="styles">
				<label th:class="form-check-label" th:for="'style' + ${style.id}" th:text="${style.name}">
					Replace with style name
				</label>
			</div>
		</th:block>
	</div>
	<div>
		<p>Workout Goals</p>
		<th:block th:each="goal : ${goals}">
			<div th:class="form-check">
				<input th:class="form-check-input" th:type="checkbox" th:value="${goal.id}"
				       th:id="'goal' + ${goal.id}" th:name="goals">
				<label th:class="form-check-label" th:for="'goal' + ${goal.id}" th:text="${goal.name}">
					Replace with goal name
				</label>
			</div>
		</th:block>
	</div>
	<button type="submit">Search</button>
</form>
<button type="button" id="reset-form">Reset</button>
<div id="results">
<div class="col-8 p-0">
	<div class = "d-flex flex-column justify-content-center align-items-center">
		<div class="card m-2 p-2 bg-secondary opacity-75 user-result" style="width: 90%;" th:each="result : ${results}" th:attr="data-user-id=${result.id}">
			<div class="card-body">
				<a th:href="@{/profile/{id}(id=${result.id})}"><h4 class="card-title" th:text="${result.username}">(insert title here)</h4></a>
				<h4 class="card-title" th:text="${result.name}"></h4>
			</div>
		</div>
	</div>
</div>
</div>
<div class="spinner-border d-none" role="status" id="results-spinner">
	<span class="visually-hidden">Loading...</span>
</div>
<div id="results-none" class="d-none">
	<p>No results found.</p>
</div>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script th:type="module" th:src="@{/js/index.js}"></script>
<script
	th:src="@{https://maps.googleapis.com/maps/api/js(key=${apiKey}, callback='initMap', libraries='places', v='weekly')}"
	defer
></script>

<footer th:replace="~{partials :: footer}"></footer>
<th:block th:replace="~{partials :: scripts}"></th:block>
<script th:type="module" th:src="@{/js/fitJS.js}"></script>
</body>
</html>
